<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/base.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/morphdom-swap.js"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon-32x32.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <meta name="msapplication-square310x310logo" content="/static/mstile-310x310.png">-->
    <meta name="msapplication-TileColor" content="#7cd1cd">
    <title>Theta: Personal GPT {{.Title}}</title>
</head>
  <body class="bg-gray-800 text-gray-300 font-sans leading-normal tracking-normal" hx-boost="true">
    {{embed}}
  </body>
</html>