<div hx-swap-oob="beforeend:#content">
    <div class="text-left">
        <div class="font-semibold select-none">{{.Author}}</div>
        <div class="inline-block bg-gray-600 text-white p-2 rounded-lg">{{.Text}}</div>
    </div>
</div>